# Jupyter notenook output
__pycache__
.ipynb_checkpoints/
Dumped/

#Dataset
*.csv
*.tsv
*.pkl
*.model
doc2vec.model.trainables.syn1neg.npy
doc2vec.model.wv.vectors.npy

lastfm-dataset-1K


# Utils
utils
lid.176.bin
